anthropic==0.25.7
autodp==0.2.3.1
certifi
charset-normalizer
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
datasets==2.19.1
dill==0.3.8
distro==1.9.0
evaluate==0.4.2
filelock
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.0
idna
Jinja2
joblib==1.4.2
kiwisolver==1.4.5
MarkupSafe
matplotlib==3.8.4
networkx
nltk==3.8.1
numpy
openai==1.25.2
pandas==2.2.2
pillow
protobuf==5.26.1
prv-accountant==0.2.0
requests
rouge-score==0.1.2
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.0
sentencepiece==0.2.0
tokenizers==0.19.1
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
transformers==4.40.1
urllib3